@model IEnumerable<ExerciseGO.Models.ActivityLog>
<div class="outer2">
    <div class="container thumbnail">
        <h1 id="activityHeading">Select Activity Log</h1>

        @*Filter*@
        <div class="container">
            <button id="showAll" class="pull-right" onclick="openAllActivityDivs()">Show All</button>
            <button id="Arms" class="showAll" onclick="openArmsDiv()">Arms</button>
            <button id="Back" class="showAll" onclick="openBackDiv()">Back</button>
            <button id="Chest" class="showAll" onclick="openChestDiv()">Chest</button>
            <button id="Abs" class="showAll" onclick="openAbsDiv()">Abs</button>
            <button id="Legs" class="showAll" onclick="openLegsDiv()">Legs</button>
            <button id="Cardio" class="showAll" onclick="openCardioDiv()">Cardio</button>
        </div>

        <div class="container">
            @*Activity log sections*@
            <div id="armsActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Arms:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var arms in Model)
                    {
                        if (@Html.DisplayFor(modelItem => arms.TargetArea.TargetAreaName).ToString() == "Arms")
                        {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => arms.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => arms.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => arms.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => arms.TotalSets)</p>
                                        </div>
                                        <div id="noteSection" class="col-md-6">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => arms.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="backActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Back:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var back in Model)
            {
                if (@Html.DisplayFor(modelItem => back.TargetArea.TargetAreaName).ToString() == "Back")
                {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => back.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => back.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => back.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => back.TotalSets)</p>
                                        </div>
                                        <div class="col-md-6" id="noteSection">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => back.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="chestActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Chest:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var chest in Model)
            {
                if (@Html.DisplayFor(modelItem => chest.TargetArea.TargetAreaName).ToString() == "Chest")
                {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => chest.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => chest.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => chest.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => chest.TotalSets)</p>
                                        </div>
                                        <div class="col-md-6" id="noteSection">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => chest.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="absActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Abs:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var abs in Model)
            {
                if (@Html.DisplayFor(modelItem => abs.TargetArea.TargetAreaName).ToString() == "Abs")
                {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => abs.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => abs.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => abs.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => abs.TotalSets)</p>
                                        </div>
                                        <div class="col-md-6" id="noteSection">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => abs.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="legsActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Legs:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var legs in Model)
            {
                if (@Html.DisplayFor(modelItem => legs.TargetArea.TargetAreaName).ToString() == "Legs")
                {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => legs.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => legs.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => legs.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => legs.TotalSets)</p>
                                        </div>
                                        <div class="col-md-6" id="noteSection">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => legs.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <br />

            <div id="cardioActivity" class="container thumbnail row">
                <div class="container">
                    <h3>Cardio:<a id="addNewActivity" href="~/ActivityLogs/Create">&#43; Add new</a></h3>
                    @foreach (var cardio in Model)
            {
                if (@Html.DisplayFor(modelItem => cardio.TargetArea.TargetAreaName).ToString() == "Cardio")
                {
                            <div id="post" class="container thumbnail col-md-5">
                                <div>
                                    <div class="row">
                                        <p class="container col-md-offset-10 col-md-1"><a href="~/ActivityLogs/Delete/@Html.DisplayFor(model => cardio.ActivityLogID)">Delete</a></p>
                                        <div class="col-md-3">
                                            <p>Reps: @Html.DisplayFor(modelItem => cardio.TotalReps)</p>
                                            <div class="row">
                                                <p class="container">@Html.DisplayFor(modelItem => cardio.LogDate)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <p>Sets: @Html.DisplayFor(modelItem => cardio.TotalSets)</p>
                                        </div>
                                        <div class="col-md-6" id="noteSection">
                                            <p>Notes:</p>
                                            <p>@Html.DisplayFor(modelItem => cardio.Notes)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>